<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="UnoLibrary.GameManager">
				<endpoint
				  address="net.tcp://localhost:14000/UnoLibrary/UNOGame"
				  binding="netTcpBinding"
				  contract="UnoLibrary.IGameManager" />
			</service>
		</services>
	</system.serviceModel>
</configuration>